div {
    border: 1px solid black;
    margin: 13px 0;
    float: none;
}
div.left {
    float: left;
}
div.right {
    float: right;
}
div.image {
    height: 235px;
    width: 200px;
}
.top {
    min-height: 100px;
    width: 400px;
}
.section {
width: 10%;
}
.characterSelectable {
    width: 45%;
    height: 50px;
    border: 4px solid blue;
}