.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 20px;
    padding-left: 100px;
    padding-right:100px;
}
#FAQ, #DM-tips, #P-tips, #house-rules {
    margin-left: 40px;
    background-color: coral;
}
#basics {
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 10px;
}
.ruleInfo {
    margin-left: 40px;
}

.infoButton {
    cursor: pointer;
    background-color: lightcoral;
    border-radius: 5px;
    padding: 45px 0;
    text-align: center;
    font-size: x-large;
    box-sizing: border-box;
}
.infoButton:active {
    background-color: black;
}
.subCategory {
    background-color: lightcoral;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 5px 0;
}
.hide {
    display: none;
}
#search {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        grid-auto-rows: minmax(10px, auto);
        padding-top: 0px;
        padding-left: 0px;
        padding-right:0px;
    }
    #basics {
        grid-column: 1/3;
        grid-row: 1;
        margin-bottom: 10px;
    }
    #FAQ, #DM-tips, #P-tips, #house-rules {
        background-color: coral;
        margin-left: 0px;
    }
    .infoButton {
        cursor: pointer;
        background-color: lightcoral;
        border-radius: 5px;
        padding: 0px 0px;
        text-align: center;
        font-size: x-large;
        box-sizing: border-box;
    }
  }